

/* ---------------- Fonts ---------------- */

/* @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');

html, body {
  background-color: var(--color-lighter) !important; /* or your bg-light */
}

/* ---------------- Tailwind (v4 syntax) ---------------- */
@import "tailwindcss";
@import "tailwindcss/utilities";


/* @layer base {
  body {
    @apply bg-lighter;
  }
} */

/* ---------------- Theme Tokens ---------------- */
@theme {

  /* === COLORS === */


 /* brown, grays, pink */
     --color-dark: #A16B55; /*brown */
      --color-darker: #595959; /*dark gray */
      --color-light: #E1CFBB; /*pink */
      --color-lighter: #F6F6F6; /*light gray */
      /* --color-accent: #   */
      --color-btt: #A16B55; /*brown */



  /* === TYPOGRAPHY === */

  /* CURRENT */
 

--font-body: "Red Hat Display", sans-serif;
  --font-heading: "IBM Plex Mono", monospace;

 
}


/* ---------------- Reusable Utility Classes ---------------- */
@layer components {
.btn-rounded {
  @apply bg-dark text-lighter rounded-full px-5 py-3 hover:opacity-90 transition;
}

.btn-squared {
  @apply bg-btt text-lighter uppercase text-sm 
  font-light py-2 px-6 hover:opacity-80 transition font-body;
}

.btn-squared-ghost {
  @apply bg-transparent border border-btt text-btt hover:bg-btt hover:text-lighter uppercase text-sm 
  font-light py-2 px-6  transition font-body;
}

.heading {
  @apply text-3xl md:text-4xl lg:text-5xl font-light font-heading leading-tight uppercase;
}

.title-italic {
  @apply font-heading italic text-lg md:text-xl lg:text-2xl leading-tight font-light tracking-normal;
}
.title-italic-boxed {
  @apply font-heading italic text-sm md:text-sm lg:text-xl leading-tight font-light tracking-tight;
}
.title {
  @apply font-heading text-base md:text-2xl leading-tight font-light tracking-tight;
}

.paragraph {
  @apply font-body text-sm font-normal leading-normal
  tracking-wide;
}

.oversection {
  @apply uppercase tracking-[0.3em] text-xs md:text-sm font-semibold font-body;
}

.parallax-text {
  @apply text-3xl md:text-[54px] leading-[1.25] font-light tracking-tight italic  text-center;
}

.bg-sacred {
  background-image: url('/svg/sacred-geometry.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
}
.bg-texture {
  /* position: absolute; */
  inset: 0;
  background-image: url('/svg/sacred-geometry.svg');
  background-size: 70%; /* adjust based on taste */
  background-position: left;
  margin-left: -30%;
  background-repeat: no-repeat;
  opacity: 0.25; /* subtle luxury */
  pointer-events: none; /* prevents input clicks hijacking */
  /* z-index: ; */
}
.bg-texture-center {
  /* position: absolute; */
  inset: 0;
  background-image: url('/svg/sacred-geometry.svg');
  background-size: 110%; /* adjust based on taste more than 110 became full opacity */
  background-position: center;
  margin-top: -15%; /*this was the solution. it has to be more than 10*/
  background-repeat: no-repeat;
  opacity: 0.15; /* subtle luxury */
  pointer-events: none; /* prevents input clicks hijacking */
  /* z-index: ; */
}
